.cast-container {
  text-align: center;
}

.cast-poster {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cast-name {
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.cast-character {
  font-size: 0.5rem;
}
