.next,
.prev {
  padding: 5px;
  height: 50px;
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 80px;
}

@media screen and (max-width: 1360px) {
  .next,
  .prev {
    display: none;
  }
}

.next:hover,
.prev:hover {
  cursor: pointer;
}

.next img,
.prev img {
  pointer-events: none;
  width: 40px;
}

.disabled {
  opacity: 0.4;
}

.d-n {
  display: none;
}
